



<div>

<div style="border-bottom:.02cm solid black;" *ngFor="let employe of allemployee" class="row">
<div class="col-5">

    <div   style="    border-color: lightgrey;padding-left:50px;   margin-top: 10px; margin-bottom:px;  height: 170px;"  class=" ">
        <div class="row">
         
         <div  style="margin-left:20px;" class="col-4">
             <div style="height: 160px;display: flex; justify-content: center; align-items: center;" >
                 <div><img width="120px" height="120px" [src]="employe.image" alt=""></div>
                  
              </div>
         </div>
         <div style="margin-left:220px;" class="col-8">
             <div  style="margin-top:-110px;" >
                
                <div  style="display: flex;" >
                 <p style="font-size:.55cm; font-weight: 630;color: rgb(99, 98, 98);" class="" >{{employe.name}}</p>
                 </div>

                <div  class="" style=" margin-left:-155px; display: flex;justify-content: center;align-items: center; margin-top:0px;  color:black; "><i class="fa-solid fa-briefcase"></i> <span style="font-size:.46cm;margin-left: 5px;">{{employe.position}}</span></div>
 
            </div>
             
         </div>
         
        </div>
     </div>

</div>


<div style="margin-top:40px;" class="col-7">
<div   routerLink="/review/{{employe.id}}"  style="font-size:.375cm;background-color:green; color:rgb(251, 248, 248);border: solid .005cm rgb(200, 199, 199); border-radius: .09cm; display: flex; justify-content: center; align-items: center; height:26px; width:150px ; margin-top:50px; margin-left:240px; " >Click to add review </div> 

 <div  class="row">
   

    
</div>

</div>





















</div>










</div>





