
    <div>

<div style="margin-top:50px;margin-bottom:30px;" class="row">
<div class="col-6">
 <div class="col d-flex justify-content-center ">
        <!-- card -->
        <div  class="card" style="height: 420px; width:310px">
            <div class="card-body text-center text-align-center ">
                <img style="margin-top:-15px;margin-bottom:30px;" width="140px" alt=""  height="140px" [src]="result[0].image"  >
              <p style="margin-top:-7px;color: rgb(65, 64, 64);" > Name: <span style="font-weight: 500;color: black;">{{result[0].name}}</span></p>
           <p style="margin-top:-7px;color: rgb(59, 59, 59);">Position: <span style="font-weight: 500;color: black;">{{result[0].position}}</span></p>
           <p style="margin-top:-7px;color: rgb(58, 58, 58);" >Mobile: <span style="font-weight: 500;color: black;">{{result[0].mobile}}</span></p>
           <p style="margin-top:-7px;color: rgb(55, 55, 55);" >Email: <span style="font-weight: 500;color: black;">{{result[0].email}}</span><p>
           <p style="margin-top:-7px;color: rgb(59, 59, 59);" >Address: <span style="font-weight: 500;color: black;">{{result[0].address}}</span></p>
           <p style="margin-top:-7px;color: rgb(64, 64, 64);" >Username: <span style="font-weight: 500;color: black;">{{result[0].username}}</span></p>
           <p style="margin-top:-7px;color: rgb(63, 63, 63);" >Password: <span style="font-weight: 500;color: black;">{{result[0].password}}</span></p>
            
          </div>
        <!-- card ends -->
         </div>
</div>
</div>


<div class="col-6"></div>

</div>



    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   
